<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>Restaurents API</title>
    <style>
        body{
            margin: auto;
            padding: 0;
            box-sizing: border-box;
            background:#eeeeee;
        }
    </style>
</head>
<body>
     
    <div class="conatiner">
        <div class="jumbotron">
            <h1 class="display-3 text-center">List of Restaurents</h1>
            <p class="lead text-center">Start your project..! have fun..</p>
            <hr class="my-2">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="https://restaurents-apis-app.herokuapp.com/restaurents">Restaurents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://restaurents-apis-app.herokuapp.com/cuisine">Cuisine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://restaurents-apis-app.herokuapp.com/mealtypes">Meal Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://restaurents-apis-app.herokuapp.com/cities">Cities</a>
                </li>
            </ul>
        </div>
    </div>

     

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>